<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <%= stylesheet_link_tag 'users' %>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <%= yield %>
</head>

<body class="text-center">
<%= form_for @user, :html => { :class => "form-signin" } do |f| %>
  <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <div class = "inputs">
    <h1 class="h3 mb-3 font-weight-normal">Please edit your profile</h1>
    <label for="inputEmail" class="sr-only">First name</label>
    <%= f.text_area :first_name, :input_type => "firstname", :id => "inputFirstName", :class => "form-control", :placeholder => "First name", size: "1x1" %>
    <label for="inputPassword" class="sr-only">Last name</label>
    <%= f.text_area :last_name, :input_type => "lastname", :id => "inputLastName", :class => "form-control", :placeholder => "Last name", size: "1x1" %>
    <label for="inputPatronymic" class="sr-only">Patronymic</label>
    <%= f.text_area :patronymic, :input_type => "patronymic", :id => "inputPatronymic", :class => "form-control", :placeholder => "Patronymic", size: "1x1" %>
    <label for="inputPhone" class="sr-only">Phone</label>
    <%= f.text_area :phone, :input_type => "phone", :id => "inputPhone", :class => "form-control", :placeholder => "Phone", size: "1x1" %>
    <%= f.submit "Submit", :class => "btn btn-primary", :id => "primarybtn" %>
    <p class="mt-5 mb-3 text-muted">&copy; Detkov Evgeny, 2018</p>
  </div>
<% end %>
</body>


</html>